.chart {
  &-wrapper {
    transition: width $move-dur * 4; //turned off while dragging
    position: absolute;
    left: 0px;
    width: 100%; //gets reset on load
    height: 100%;
    .overlay {
      pointer-events: all;
      fill: none;
      cursor: ew-resize;
    }
    .stripes {
      opacity: 0;
      .stripe-odd {
        fill: white;
      }
      .stripe-even {
        fill: none;
      }

    }
  }
  &-axis {
    shape-rendering: crispEdges;
    text {
      fill: white;
      opacity: 0.4;
      font-size: 12px;
      letter-spacing: 1px;
    }
    path {
      fill: #777;
      stroke-width: 1;
    }
  }
  &-legend {
    display: none;
    text {
      font-size: 14px;
      stroke: none;
      fill: $col-text-light;
    }
  }
/*   &-plot-area { */
/*     clip-path: url(/#plot-area-clip); */
/*   } */
}

.story-circle {
  transition: opacity 500ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  opacity: 0.7;
  transition: 200ms;
  cursor: pointer;
  
  body:not(.fav) &.read { //yeah that's not confusing AT ALL
    fill-opacity: 0.1;
    stroke-opacity: 0.5;
  }
  &.selected {
    stroke-width: 2px;
    stroke-opacity: 1;
    stroke: #eee;
  }
}
.tick {
  line {
    stroke: white;
    opacity: 0.05;
  }
}