.chart {
  &-wrapper {
    transition: width $move-dur; //turned off while dragging
    position: absolute;
    left: 0px;
    width: 100%; //reset on load
    height: 100%;
    .overlay {
      pointer-events: all;
      fill: none;
      cursor: ew-resize;
    }
    .stripes {
      opacity: 0;
      .stripe-odd {
        fill: white;
      }
      .stripe-even {
        fill: none;
      }

    }
  }
  &-axis {
    shape-rendering: crispEdges;
    text {
      fill: white;
      opacity: 0.4;
      font-size: 12px;
      letter-spacing: 1px;
    }
    path {
      fill: #777;
      stroke-width: 1;
    }
  }
  &-legend {
    display: none;
    text {
      font-size: 14px;
      stroke: none;
      fill: $col-text-light;
    }
  }
  &-plot-area {
    clip-path: url(/#plot-area-clip);
  }
}

.story-circle {
  transition: opacity 500ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  fill: $story-color;
  opacity: 0.7;
  stroke: lighten($story-color, 5%);
  transition: 200ms;
  cursor: pointer;
  &-show {
    fill: $show-color;
    stroke: lighten($show-color, 5%);
  }
  &-ask {
    fill: $ask-color;
    stroke: lighten($ask-color, 5%);
  }
  &.read {
    fill-opacity: 0.2;
    stroke-opacity: 0.3;
  }
  &.selected {
    stroke-width: 5px;
    stroke-opacity: 0.8;
    stroke: #FFF;
  }
}
.tick {
  line {
    stroke: white;
    opacity: 0.05;
  }
}
#tooltip {
  @include shadow();
  visibility: hidden;
  position: fixed;
  left: 100px;
  top: 100px;
  background: $primary-color;
  color: white;
  text-align: center;
  padding: 10px;
  max-width: 200px;
  z-index: 9;
}
.maxi-tooltip {
  $width: 550px;
  $height: 170px;
  $dark: #2c3e50;
  $light: #7f8c8d;
  $radius: 40px;

  position: fixed;
  left: 50%;
  top: 20%;
  width: $width;
  height: $height;
  background: black;
  color: white;
  border-radius: $radius;
  @include shadow();

  .table {
    display: table;
    .row {
      display: table-row;
    }
    .cell {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .left {
    float: left;
    width: 33%;
    height: 100%;
    background: $dark;
    border-radius: $radius 0 0 $radius;

    .btn {
      transition: 300ms;
      width: 100%;
      text-align: center;
      height: $height * 0.333;
      line-height: $height * 0.333;
      cursor: pointer;
      &:hover { 
        background: darken($dark, 10%);
      }
    }
    &-top {
      border-radius: $radius 0 0 0;
    }
    &-middle {
      border-top: 1px solid lighten($dark, 10%);
      border-bottom: 1px solid lighten($dark, 10%);
    }
    &-bottom {
      border-radius: 0 0 0 $radius;
    }
  }
  .right {
    position: absolute;
    right: 0;
    width: 67%;
    height: 100%;
    background: $light;
    border-radius: 0 $radius $radius 0;

    &-top {
      height: $height * 0.5;
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid lighten($light, 10%);
      overflow-y: hidden;

      h1 {
        color: white;
        height: 100%;
        width: 100%;
        font-size: 25px;
        font-weight: 300;
        margin: 0;
      }
    }
    &-bottom {
      height: $height * 0.5;
      width: 100%;
      padding: 12px 20px 0 20px;
      font-size: 13px;
      p {
        margin: 0;
      }
      &-left {
        float: left;
        width: 50%;
        height: 100%;
      }
      &-right {
        float: left;
        width: 50%;
        height: 100%;
      }
    }
  }
}