.header {
  @include shadow();
  height: $header-height;
  background: $header-color;
  position: relative;
  z-index: 2;
  &-title {
    float: left;
    padding: 5px 8px;
    margin: 0;
    font-size: 22px;
    color: white;
    font-weight: normal;
    letter-spacing: 1px;
    @media (max-width: 500px) {
      letter-spacing: 0;
      font-size: 18px;
      padding: 12px 5px;
    }
    @media (max-width: 350px) {
      font-size: 15px;
      padding: 12px 3px;
    }
  }
  .header-float {
    float: right;
    height: 100%;
    color: white;
  }
  .user-items {
    height: 100%;
    padding: 0 10px;
    .user-item {
      padding: 9px 0 0 4px;
    }
  }
  .news-sources {
    cursor: pointer;
    &-source {
      transition: 200ms;
      @include no-style-button;
      color: white;
      font-size: 17px;
      height: 100%;
      padding: 0 12px;
      margin-left: -3px; //narrow the inline-block gap
      background: $primary-color;
      body.no-touch &:hover {
        background: white;
        color: $primary-color;
      }
      &.active {
        background: white;
        color: $primary-color;
      }
    }
  }
  &-icons-wrapper {
    float: right;
    width: 80px;
    height: 40px;
    padding: 7px;
    text-align: center;
    cursor: pointer;
    path {
      fill: white;
    }
  }
  &-btn { //TODO what is this?
    float: right;
    font-size: 16px;
    height: 100%;
    padding: 12px 15px;
    background-color: white;
    color: $primary-color;
    cursor: pointer;
    @media (max-width: 500px) {
      padding: 12px 5px;
      font-size: 14px;
    }
    @media (max-width: 350px) {
      padding: 14px 8px;
      font-size: 12px;
    }
  }
}
.nb-content-wrapper {
  position: absolute;
  top: $header-height;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
