.story {
  &-panel {
    transition: $move-dur; //turned off while dragging
    position: absolute;
    display: none; //overridden on startup
    left: 100%; //overridden on startup
    height: 100%;
    @include shadow();
    right: 0px;
    padding-left: 28px;
    background-color: white;
    z-index: 1;

    p {
      line-height: 1.5;
      margin-bottom: 30px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    figcaption {
      margin-bottom: 20px;
      font-style: italic;
    }
    &-resizer {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 28px;
      background-color: $primary-color;
      background-color: white;
      overflow-y: hidden;
      cursor: ew-resize;
      &.active .story-panel-resizer-dots {
/*         background-color: $primary-color; */
        border: 2px dotted lighten($primary-color, 20%);
      }
      &-dots {
        float: left;
        margin-top: -10%;
        height: 120%;
        width: 8px;
        margin-left: 4px;
        border: 2px dotted lighten($primary-color, 30%);
      }
    }
    &-toggle {
      position: absolute;
      top: 50%;
      left: 0px;
      margin-top: -50px;
      width: 100%;
      height: 100px;
      font-size: 40px;
      line-height: 95px;
      text-align: center;
      color: $primary-color;
      cursor: pointer;
      background-color: white;
    }
    .comment-separator {
      border-bottom: 1px solid $primary-color;
      margin-top: 40px;
      padding: 9px 0;
      text-align: center;
    }

    .comment-list {
      list-style-type: none;
      margin: 0;
      padding: 0 0 0 10px;
      &-title {
        font-style: italic;
        margin: 15px 0;
      }
      &.level-1 {
        padding: 0;
      }
      &-item {
        border-left: 1px dotted #ccc;
        padding-left: 5px;
        margin-top: 25px;

        blockquote {
          border-left: 2px solid $primary-color;
          margin: 10px 0 10px 10px;
          padding-left: 10px;
        }

        &-text {
          margin: 0;
          padding: 0;
          &.meta {
            padding: 3px 0 0 10px; 
/*             font-weight: 400; */
            font-size: 13px;
            color: #999;
          }
          &.body p {
            margin: 0;
          }
        }
      }
    }
  }
  &-control-bar {
    position: absolute;
    width: 100%;
    height: 45px;
    padding: 5px;
    background: #1C5E54;
    z-index: 1;
  }
  &-wrapper {
    height: 100%;
    min-width: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 10px 20px 50px 10px;
    background-color: white;
    z-index: 0;
    @media (max-width: 500px) {
      padding: 7px;
    }
  }
}
.show-story-panel {
  .story-panel {
    margin-right: 0px;
    &-grabber-inner {
      transform: scaleX(1);
    }
    &-closer:before {
      content: '»';
    }
  }
  #more-btn {
    right: 425px;
  }
}

.story-title {
  svg {
    width: 18px;
    height: 18px;
      cursor: pointer;
    .fav-star {
      transition: 100ms;
      fill: $primary-color;
      fill-opacity: 0;
      stroke: $primary-color;
      stroke-weight: 1px;
    }
  }
  .active .fav-star {
    fill-opacity: 1;    
  }
  h1 {
    font-size: 24px;
    font-weight: 300;
    color: #222;
    line-height: 26px;
    a {
      text-decoration: none;
      font-size: inherit;
    }
  }
  .sub-title {
    .category-dot {
      display: inline-block;
      position: relative;
      top: -3px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      margin-right: 7px;
      vertical-align: bottom;
    }
    a {
      text-decoration: none;
    }
    p {
      margin: 3px;
    }
    font-size: 12px;
    line-height: 2;
    margin-bottom: 10px;
    color: #777;
  }
}